.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 -4px;
}

.navigation__item {
    padding: 4px 8px;
    background-color: #ccc;
    margin: 4px;
    cursor: pointer;
}
